/**
 * partials/buttons and a tags
 * ---
 * Menus
 */

.btn-main{
	@include btn-style($accent, $white);
}

.btn-secondary {
	@include btn-style($main-brand-color, $white);
}

.btn-stop {
	@include btn-style(#c1c1c1, $white);
	pointer-events:none;
}