/**
 * partials/modules
 * ---
 */

 /*------------------------------------*\
  #PACE PRELOADER
\*------------------------------------*/

.pace {
  -webkit-pointer-events: none;
  pointer-events: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

 /*------------------------------------*\
  #POPUPS
\*------------------------------------*/

.popup-mask{
  @include mask-site;
  display:none;
}

.popup-container{ //style this
  @include vertical-align(fixed);
  background:white;
  width:50%;
  max-width: 500px;
  height:auto;
  left: 0;
  right: 0;
  margin: 0 auto;
  padding: 20px;
  z-index:100;
  display:none;

  > .close{
    width:15px;
    height:15px;
    background: red;
    position:absolute;
    right:0;
    top:0;
    cursor: pointer;
  }
}

.popup{
  display:none;
}


 /*------------------------------------*\
  #ACCORDION
\*------------------------------------*/

 /*------------------------------------*\
  #PAGINATION
\*------------------------------------*/

/*------------------------------------*\
  #LIST
\*------------------------------------*/

.question-list { 
  counter-reset: qList;
  list-style-type: none;
  
  p{
    font-weight: 700;
    padding-bottom:10px;
    font-size: em(18);
    position: relative;
  }

}

  
.question-holder{
  padding-bottom:30px;
  position: relative;

  @include breakpoint(320px) {
    img{
      max-width:140px;
      vertical-align: top;
    }
  }

  @include breakpoint(786px) {
    img{
      margin-left: 15%;
    }
  }
}

.question-active{
  display: block;
}

.choices {
  counter-reset: variableName;
    
  li {
    list-style-type: none;
    position: relative;
    border-top:1px solid #e0e0e0;
    
    &:before{
      counter-increment: variableName;
      content: counter(variableName, upper-alpha) '.';
      font-weight: 700;
      position: absolute;
      left:35px;
      top:10px;
    }

    &:last-child{
      border-bottom:1px solid #e0e0e0;
    }
  }

  span{
    color:#666;
    display: block;
    padding:10px 10px 10px 58px;

    &:hover{
      background:#fafafa;
    }
  }

  label {
    cursor:pointer;
  }

  input[type="radio"] {
    position: absolute;
    left:10px;
    top:12px;
  }
}

/*------------------------------------*\
  #RESULTS
\*------------------------------------*/

.total-score{
  text-align: right;
}

.result-cont{
  text-align: center;

  span{
    font-size: em(20);
  }
}

.result-wrap{
  .points{
    font-size: em(50);

    span{
      font-size: 20px;
      display: block;
      margin-top: -14px;
      font-weight: 100;
    }
  }

  .main-color, .total-score {
    font-size: em(20);

    @include breakpoint($desktop) {
      font-size:em(25);
    }
  }
}

/*------------------------------------*\
  #DETAILS
\*------------------------------------*/

.status{
  border:1px solid #ececec;
  padding:10px;
  background:$body-bg;
  
  p{
    padding-left:0px;
    font-weight: 100;
    font-size: em(15);
  }

  strong{
    font-size: em(18);
  }
}