/**
 * partials/styleguide
 * ---
 * classes limited to the styleguide page
 */

.sg-title{
  border-bottom: 1px solid ;
  margin-bottom: 15px;
}

.sg-section{
  padding: em(20) 5%;
  @include container(100%);
}

 /*------------------------------------*\
  #COLORS
\*------------------------------------*/

.sg-pallete{
  padding: 5px;
  width: 50%;
  text-indent: 50%;
  white-space: nowrap;
  margin: 0 0 15px 0;
}

.sg-brand-01{
  background: $main-brand-color;
  color: $main-brand-color;
}