/**
 * partials/wrapper
 * ---
 */

.img-wrap{
	max-width:140px;
}

.button-wrap{
	padding:10px 0px;
	.btn-main{
		max-width:150px;
	}
}

.mainwrap{
	max-width:800px;
	background:$white;
	padding:20px;
	margin:0 auto;
	box-shadow: 0px 0px 15px #e4e4e4;
	transition:margin 100ms linear;
	
	@include breakpoint(1000px) {
		margin-top:50px;	
	}
}

/* COLUMN */

.column {
	border-top:1px solid #e0e0e0;
	padding:10px 0px;
	@include container(100%);

	.col-half{
		@include span(1 of 2 inside no-gutters);
	}
}

.column-noborder {
	padding:10px 0px;
	@include container(100%);

	.col-half{
		@include span(1 of 2 inside no-gutters);
	}
}


/* Exam page */
.question-wrap{
	padding-top:20px;
	@include breakpoint($tablet) {
		padding:20px 20px 0px ;
	}

	.col-half {
		position: relative;

		.btn-main {
			position: absolute;
			right:0;
		}
	}

	.btn-secondary {
		max-width: 70px;
	}

	button.btn-main{
		height:46px;
		max-width:90px;
	}
}


/* Result page */

.result-wrap{
	input{
		width:84%;
	}

	select {
		width:84%;
		padding:6px;
	}

	@include breakpoint(320px 784px) {
		.dateresult{
			display: block;
		}
	}

	@include breakpoint(320px 425px) {
		.btn-secondary {
			width:100%;
			max-width: 100%;
		}
	}
}
.result-cont {
	padding-bottom:15px;

	.btn-main{
		margin:0 auto;
	}
}

.app-number{
	padding:5px 0px;
}


/* Details page */
.details-wrap {
	padding-top:15px;
}

.tab-wrap{
	@include container(100%);
	
	.passed-tab, .failed-tab {
		@include span(1 of 2 inside no-gutters);
		padding:10px 0px;
		text-align: center;
		border-bottom:2px solid #ececec;
		cursor: pointer;
		font-weight: 700;
		&.active{
			color:$main-brand-color;
			border-bottom:2px solid $main-brand-color;
			font-weight: 700;
		}
	}
}

.passed-holder{
	.col-half {
		position: relative;

		.btn-main {
			position: absolute;
			right:0;
		}
	}

	.btn-secondary {
		max-width: 80px;
	}

	button.btn-main{
		height:46px;
		max-width:90px;
	}
}

.failed-holder{
	display: none;

	@extend .passed-holder;
}


.active-holder {
	display: block;
}

/* CHOOSE */
.page-choose {
	box-shadow: none;
	background:none;
}

.secondary-holder {
	@extend .mainwrap;
	@extend .passed-holder;
	width:100%;
	max-width: 300px;
	margin:0 auto;
	text-align: center;
	
	h4{
		padding:10px 0px;
		color:darken(#ececec, 25%);
	}

	.selections {
		border-top:1px solid darken($body-bg, 10%);
	}

	.default-link {
		display: block;
		padding:10px 0px;
		font-weight: 700;
		color:darken(#acacac,25%);
		text-decoration: none;
		&:hover{
			background:$body-bg;
			color:darken(#acacac, 30%);
			text-decoration: none;
		}
	}

	p {
		color:#404040;
	}
}

/* FAILED PAGE*/
.default-link{
	text-decoration: underline;
	color:#0000e8;
	font-size: em(14);

	&:hover{
		text-decoration: underline;
		color:darken(#0000e8, 20%);
	}	
}