/**
 * modules/fonts
 * ---
 * Declare fonts here

 name suggestions: title, para, meta
 */


/*
@font-face {
  font-family: "Font-Name";
  src: url("fonts/font-name.eot");
  src: url("fonts/font-name.eot?#iefix") format("embedded-opentype"),
    url("fonts/font-name.woff") format("woff"),
    url("fonts/font-name.ttf") format("truetype"),
    url("fonts/font-name.svg#font-name") format("svg");
  font-weight: normal;
  font-style: normal;
}
*/


.passed {
	color:$accent;
}

.passed-small {
  color: #266726;
  font-size: 30px;
}

.main-color{
	color:$main-brand-color;
}

.error {
  color:$alert;
}

.failed {
  color:$alert;
}

.failed-small {
  color:darken($alert,10%);
  font-size: 30px;
}

.cat-name {
  color:$main-brand-color;
  padding-bottom:10px;
}

.breadcrumbs {
  color:$text-color;
  padding-bottom:10px;
  font-size: em(12);
}

.warning{
  padding:10px 0px;
  font-weight: 700;
  color: #636363;
}