/**
 * modules/variables
 * ---
 */


/**
 * Typography
 */

$font-family-base: "Helvetica Neue", Helvetica, Arial, "Open Sans", sans-serif;
$header-family-base: 'Merriweather', Georgia, 'Times New Roman', serif;
$line-height-base: 1.5;
$font-size-base: 16px;

$browser-context: 16; // Default for mixin px to em converter


/**
 * Colors
 */

//brand colors
$main-brand-color: #2ba6cb;

//site colors
$text-color: #343434;
$body-bg: #fafafa;
$accent: #269926;
$white: #ffffff;

//utility colors
$alert: #db4437;

// breakpoint
$tablet: 700px;
$desktop: 1000px;

/**
 * Susy
 */

$susy: (
  columns: 12,
);


