@import "bower_components/susy/sass/susy";
@import "bower_components/compass-breakpoint/stylesheets/breakpoint";

// Modules
@import "modules/variables";
@import "modules/mixins";
@import "modules/fonts";

// Partials
@import "partials/reset";
@import "partials/utils";
@import "partials/wrapper";
@import "partials/header";
@import "partials/buttons";
@import "partials/footer";
@import "partials/print";
@import "partials/wysiwyg";
@import "partials/modules";
@import "partials/styleguide";


 /*------------------------------------*\
  #LANDING PAGE LAYOUT
\*------------------------------------*/


 /*------------------------------------*\
  #LANDING PAGE LAYOUT
\*------------------------------------*/
.login {
    display: block;
    padding: 20px;
    margin: 0 auto;
    max-width: 450px;
    h1 {
	    text-align: center;
	    font-size: 20px;
	    margin-bottom: 15px;
    }
    button {
    	margin-top: 30px;
    }
    input {
	  padding: 5px;
	  display: block;
	  width: 100%;
	  height: 35px;
	  border:1px solid darkgrey;
	}
}

.input {
	margin-bottom: 15px;
}

.input-label {
	font-size: 18px;
}

button {
	padding: 10px;
}

.register-link {
    display: inline-block;
    color:$main-brand-color;
    text-decoration: underline;
}




 /*------------------------------------*\
  #REGISTER PAGE LAYOUT
\*------------------------------------*/
.register {
	@extend .login;
	a {
		text-decoration: none;
	}
}

.checkbox {
	position: relative;
	display: inline-block;
	padding-left: 30px;
	margin-right: 20px;
	input[type="checkbox"], input[type="radio"] {
		position: absolute;
		top: 50%;
		transform: translateY(-50%);
		left: 0px;
		height: 20px;
		width: 20px;	
		padding: 0;
    	margin: 0;
    	&:hover {
    		cursor: pointer;
    	}	
	}
}

.checkbox-label {
	font-size: 12px;
}

/*------------------------------------*\
  #RESULT PAGE LAYOUT
\*------------------------------------*/
#date-invalid {
    color: red;
    width: 100%;
    font-size: 11px;
    padding-right: 15px;
    font-style: italic;
}